.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: $water-blue;

  .logo {
    background-color: $azure;
    width: 107px;
    height: 60px;
    font-size: 38px;
    text-align: center;
    line-height: 60px;
  }

  h3.title {
    color: $white-four;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-left: 30px;
  }

}

