.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: $water-blue;
}

.logo {
  background-color: $azure;
  width: 107px;
  height: 60px;
  font-size: 38px;
  text-align: center;
  line-height: 60px;
}

.title {
  width: 240px;
  height: 28px;
  color: $white-four;
  margin-left: 30px;

  h3 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: condensed;
    margin: 0;
  }
}
