property {
  position: relative;
  height: 224px;
  margin-bottom: 15px;
  width: 100%;

  border-radius: 2px;
  background-color: $white-four;
  box-shadow: 0 1px 3px 0 $black-30;


  .img-wrapper {
    width: 298px;
    height: 100%;
    text-align: center;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
    }
  }

  .info {
    position: absolute;
    left: 298px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
  }

  .property-id {
    width: 64px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: $warm-grey-three;
    border: 1px solid $white-two;
    border-radius: 2px;
  }

  .title {
    width: 100%;
    height: 27px;
    font-size: 18px;
    line-height: 1.5;
    color: $greyish-brown;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
  }

  .description {
    width: 100%;
    height: 84px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
    color: $warm-grey;
  }

  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding-left: 15px;
    line-height: 25px;
    background-color: $white-three;
    color: $warm-grey;
    display: flex;
    align-items: center;


    .details {
      color: $white-four;
      background-color: $azure;
      border-radius: 0;
    }

  }

  .icons {
    flex: 3;
    flex-direction: column;
  }

  .actions {
    flex: 1;
    flex-direction: column;
  }

  .property-attr {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    display: inline-block;
    margin-bottom: 5px;

    > .icon {
      font-size: 16px;
      display: block;
      margin: 0 auto;
    }

    > .text {
      display: block;
      font-weight: bold;
      font-size: 11px;
      margin-bottom: 0;
      line-height: 25px;
    }
  }



}
