property {
  position: relative;
  height: 478px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 2px;
  background-color: $white-four;
  box-shadow: 0 1px 3px 0 $black-30;

  .img-wrapper {
    width: 100%;
    height: 224px;
    overflow: hidden;
    text-align: center;

    img {
      width: auto;
      height: 100%;
    }
  }

  .info {
    position: relative;
    height: 224px;
    padding: 15px;
  }

  .property-id {
    width: 64px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: $warm-grey-three;
    border: 1px solid $white-two;
    border-radius: 2px;
  }

  .title {
    width: 100%;
    height: 27px;
    font-size: 18px;
    line-height: 1.5;
    color: $greyish-brown;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
  }

  .description {
    width: 100%;
    height: 84px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
    color: $warm-grey;
  }

  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding-left: 15px;
    line-height: 25px;
    background-color: $white-three;
    color: $warm-grey;
    display: flex;
    align-items: center;


    .details {
      color: $white-four;
      background-color: $azure;
      border-radius: 0;
      border: none;
      padding: 8px;
      cursor: pointer;
      margin-right: 15px;

      &:hover {
        background-color: lighten($azure, 10);
      }

      &:active {
        background-color: darken($azure, 10);
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }

  }

  .icons {
    flex: 1;
    flex-direction: row;
    display: flex;
  }

  .actions {
    flex: 1;
    flex-direction: column;
    text-align: end;
  }

  .property-attr {
    flex: 1;
    flex-direction: column;
    display: flex;
    text-align: center;

    > .icon {
      font-size: 16px;
      flex: 1;
      flex-direction: row;
    }

    > .text {
      font-weight: bold;
      font-size: 11px;
      flex: 1;
      flex-direction: row;
      line-height: 25px;
    }
  }
}


@media screen and (min-width: 640px) {

  property {
    height: 224px;

    .img-wrapper {
      width: 298px;
      height: 100%;
      align-items: center;
      display: flex;
      img {
        width: 100%;
        height: auto;
      }
    }

    .info {
      position: absolute;
      left: 298px;
      top: 0;
      height: auto;
      bottom: 0;
      right: 0;
    }

  }
}
