@import "./assets/style/_vars";

@import "./app/spotippo/property";

@import "./app/components/header/component";
@import "./app/components/spo-link/component";

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-stretch: condensed;
  background-color: $white-six;
}

body, h1, h2, h3 {
  font-weight: 200
}

.flex {
  display: flex;
}

.row {
  @extend .flex;
  flex-direction: row;
}

.column {
  @extend .flex;
  flex-direction: column;
}

.main-container {
  @extend .row;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 100%;
}

.sidebar {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 107px;
  background-color: $twilight-blue;
  text-align: center;
  padding-top: 15px;
}

.filters {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 213px;
  margin: 15px 18px;
  background-color: $white-five;
  box-shadow: 0 2px 4px 0 $black-12;

  .title {
    width: 33px;
    height: 20px;
    font-size: 16px;
    line-height: 1.25;
    color: $brownish-grey;
    margin: 13px;
  }

  form {
    display: flex;
    flex-direction: row;
    label {
      color: $warm-grey;
      font-size: 12px;
      line-height: 1.5em;
    }
  }

  .group {
      flex: 1;
      flex-direction: row;
      border-bottom: 1px solid $black-10;

      &:last-child {
        border-bottom: none;
      }

      > div {
        margin: 18px 13px;
      }

      input {
        padding: 0 5px;
        width: 100%;
        margin: 0 -5px;
        border: 1px solid $warm-grey-2;
        line-height: 36px;
        appearance: none;
        box-shadow: none;
        border-radius: 0;
        outline: none;
        font-size: 14px;
        color: $warm-grey;


        &:focus {
          outline: none;
        }
      }
    }

}

.result {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 230px;
  bottom: 50px;
  margin-top: 15px;
  background-color: $white-four;
  box-shadow: 0 2px 4px 0 $black-12;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.paging {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  bottom: 0;
}

.pagination {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  flex: 1;
  padding: 0;

  li {
    list-style-type: none;
    text-align: center;
    padding: 4px 10px;
    font-size: 18px;

    a {
      text-decoration: none;
      color: $brownish-grey;
    }

    &.active {
      background-color: $azure;
      a {
        color: $white-six;
      }
    }
  }
}


@media screen and (min-width: 640px) {

  .filters {
    position: absolute;
    left: 0;
    top: 0;
    height: 213px;
    width: auto;
    right: 0;
    margin: 15px 18px;
  }

  .result {
    position: absolute;
    left: 0;
    right: 0;
    top: 230px;
  }
}

@media screen and (min-width: 815px) {
  .sidebar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 107px;
  }

  .filters {
    .group {
      flex: 1;
      flex-direction: column;
    }

    position: absolute;
    left: 107px;
    top: 0;
    width: auto;
    right: 0;
    margin: 15px 18px;
  }

  .result {
    position: absolute;
    left: 107px;
    right: 0;
    top: 230px;
  }

  .paging {
    left: 107px;
  }
}




@media screen and (min-width: 1100px) {
  .filters {
    display: flex;
    flex-direction: column;
    flex: 0 0 230px;

    form {
      display: block;
    }

    .group {
      display: flex;
      flex: 1;
      flex-direction: row;
    }

    position: absolute;
    left: 107px;
    top: 0;
    height: auto;
    bottom: 0;
    width: 230px;
    margin: 15px 18px;
  }

  .result {
    position: absolute;
    left: 367px;
    top: 0;
  }

  .paging {
    left: 367px;
  }
}
